html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.container {
    width: 50%;
}

.heading {
	padding-top: 40px;
	text-align: center;
    font-family: arial;
}

.side-bar {
    position: absolute;
    height: 90%;
    width: 300px;
    margin-top: 50px;
    z-index: 1;
    background: rgba(150,150,150, 0.5);
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}