!.gitignore

node_modules

app/bower_components/jquery/*
!app/bower_components/jquery/dist/
app/bower_components/jquery/dist/*
!app/bower_components/jquery/dist/jquery.min.js

app/bower_components/knockout/*
!app/bower_components/knockout/dist/
app/bower_components/knockout/dist/*
!app/bower_components/knockout/dist/knockout.js